/*RESET*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('http://fonts.cdnfonts.com/css/idroid');

*{  scroll-behavior: smooth;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*DEFAULT COLORS*/
:root{
    --cor-1: #F2F2F2;
    --cor-2:#FBFBFB;
    --cor-3:#FFFFFF;
    --cor-4:#F03627;
}

body{
    background-color: var(--cor-1);
}

/*HEADER*/
.container .header_container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--cor-1);
    
}

.header_container .logo{
    font-family: monospace;
    font-size: 46px;
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 11% 10% 0% 18%;
}

/*LOGO - s1 and s2, we used this class in another tag too*/
.s1{
    color: #F03627;
}

.s2{
    font-family:monospace;
    color: gray;
}

.header_container ul.info{
    list-style: none;
    padding-top:1%;
    padding-right: 8%;
}
.header_container ul.info li{
    margin-bottom:2.5%;
    margin-top: 2%;
}

.header_container ul.info li .item span{
    padding-inline-end: 1px;
    font-size: small;
}

ul.info li span, ul.info li i{
    display: inline-block;
    color:#8E8E8E;

}

.header_container ul.info h4{
    width: 60%;
    border: 0.8px solid;
    border-radius: 10px;
    padding: 3%;
    background-color:#F03627;
    color: #FFFFFF;
    text-align: center;

}

/*ICONES*/
li span.facebook i{
    color:rgb(0, 153, 248);
    font-size: 34px;
    border-radius:50%;
}
li span.whatsapp i{
    color:rgb(56, 202, 117);
    font-size: 34px;
    border-radius:50%;
}
li span.instagram i{
    color:rgb(248, 215, 0);
    font-size: 34px;
    border-radius:50%;
}

/*MEDIA ICONS*/
.social-midia{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding: 3%;
}

/*NAVBARr*/
.container nav .navbar{
    display: flex;
    flex-flow: row wrap;
    position: relative;
    top:2.4em;
    box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.418),1px 2px 5px rgba(160, 160, 160, 0.412);
    justify-content:space-between;
    background-color: var(--cor-2);
    list-style: none;
    padding: 2% 12%;
    width: 70%;
    margin:auto 3% auto 12%;
    
}

.navbar li{
    border-right: 1px solid rgb(153, 152, 152);
    background-color: var(--cor-2);
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.navbar li a{
    text-decoration: none;
    text-transform:uppercase;
    font-weight: 800;
    color:rgba(0, 0, 0, 0.874);
    background-color: var(--cor-2);
}

/*MAIN*/
.main_container .carrossel{
    height: 40%;

}
.main_container .carrossel-img{
    object-fit:contain;
    width: 100vw;
}

/*Main - Categorory*/
.main_container .category{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap:3%;
    padding:0% 10% 3% 10%;
    margin-bottom: 5%;

}
.category .categ-box{
    background-color: #FFFFFF;
    padding:7%;
    text-align: center;
}

.categ-box ul{
    list-style:none;
}

.categ-box ul li{
    padding: 2%;
    text-transform: uppercase;
}

.imagem_categoria{
    max-width: 80%;
    max-height: 60%;
    border-radius: 100px;
    border: 1px solid black;
}
/*targing the element li in the position 3 - h2 tag*/
.categ-box ul li:nth-child(3){
    color: #F03627;
    font-size: 12px;
}

/*targing the element li in position 4 - icon*/
.categ-box ul li:nth-child(4){
    font-size: 24px;
    background-image: -webkit-linear-gradient(95deg,rgba(219, 219, 0, 0.571),rgba(255, 166, 0, 0.522));
}

/*Main - Products*/

.main_container .category .products{
    grid-column: 1/4; /*a ultima coluna ocupara todo o espaco*/
    background-color: var(--cor-3);
    padding: 2% 3% 7% 3%;
}

.products .prod_conteiner{
    display: grid; /*grid para os elementos filhos*/
    grid-template-columns:repeat(3, 1fr);
    gap: 5%;
    margin-top: 1.5%;
}

.products .prod_box{
    border: 1px solid rgba(0, 0, 0, 0.721);
    text-align: center;
    padding:2% 0%;
}

.products .prod_box ul{
    list-style: none;
}

.prod_box ul li{
    padding:2% 0%;
}

.prod_box ul li h3{
    text-align: center;
}

.prod_box ul li button{
    padding: 2%;
    background-color: var(--cor-4);
    color: var(--cor-3);
    border-radius: 100px;
}

/*FOOTER*/

footer{
    display:flex;
    margin-top: 3%;
    padding: 3%;
    background-color:rgb(19, 11, 11);
    color: white;
}

footer .adress{margin-right:15%;}
.adress li{width:max-content; padding-bottom: 2%;}
footer .icons{margin-right: 15%;}
.icons li{display: inline-block; padding:4%; font-size: 1.8em;}
footer h1.logo{font-size: 2.5em; font-family: 'iDroid', Calibri;}
